# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration file
*.ini

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# Package files
*.egg
*.egg-info/
dist/
build/

# Distribution / packaging
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code config folder
.vscode

# Mac system tempfile
.DS_Store